
@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

html, body {
    font-family: 'Titillium Web', !important;
    background-color: #f28b82 !important;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-logo-container{
  display: none;
}